/* 
    Para acomodar los estilos css se puede usar esta convención:
        1. Posicionamiento
        2. Modelo de caja (Box model)
        3. Texto
        4. Temas visuales
        5. Otros
*/

/*
Forma rápida de resetear los estilos base del navegador
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 
*/

:root {
    /* Colores */
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --warm-black1: #282623;
    --grey: #BABABA;
    --off-white: #FAF8F7;
    --white: #FFFFFF;
}

html {
    /* Tamaño de fuente para usar rem */
    font-size: 62.5%;
    
    /* Tipografía principal */
    font-family: 'DM Sans', sans-serif;
}

header {
    /* Posicionamiento */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    /* Modelo de caja */
    width: 100%;
    min-width: 320px;
    height: 295px;

    /* Texto */
    text-align: center;

    /* Temas visuales */
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

header .header--logo {
    /* Posicionamiento */
    margin-top: 39.03px;
    align-self: center;

    /* Modelo de caja */
    width: 128.57px;
    height: 24.01px;
}

.header--title-container {
    /* Posicionamiento */
    margin-top: 32.97px;
    align-self: center;

    /* Modelo de caja */
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;

    /* Texto */
    text-align: center;
}

.header--title-container h1{
    /* Posicionamiento */
    margin: 0;

    /* Texto */
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
    color: var(--white);
}

.header--title-container p {
    /* Posicionamiento */
    margin-top: 24px;
    margin-bottom: 0;

    /* Texto */
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}

.header--title-container button {
    /* Posicionamiento */
    position: relative;
    top: 32px;

    /* Modelo de caja */
    padding: 12px 16px 12px 16px;
    width: 229px;
    height: 48px;

    /* Texto */
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--warm-black);

    /* Temas visuales */
    border: none;
    border-radius: 4px;
    background-color: var(--off-white);
        /* Sombra */
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
}

.header--title-container span {
    /* Posicionamiento */
    display: inline-block;
    margin-left: 14px;

    /* Modelo de caja */
    width: 1.2rem;
    height: 0.741rem;

    /* Temas visuales */
    background-image: url('../assets/icons/arrow-down.svg');
}

main {
    width: 100%;
    height: auto;
    background-color: var(--off-white);
}

.main-exchange-container {
    width: 100%;
    height: auto;
    padding-top: 59px;
    padding-bottom: 64px;
    text-align: center;
}

.main-exchange-container img {
    width: 195px;
    margin-bottom: 40px;
}

.main-exchange-container--title {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto 4.8rem auto;
}

.main-exchange-container--title h2 {
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.6rem;
    color: var(--warm-black);
    margin-top: 0;
    margin-bottom: 24px;
}

.main-exchange-container--title p {
    margin: 0;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: rgba(117, 117, 117, 1);
}

.main-currency-table {
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 194px;
    margin: 0 auto 16px auto;
    font-family: 'Inter', sans-serif;
}

.main-currency-table .currency-table--title {
    width: 8.1rem;
    height: 2.3rem;
    margin: 0 auto 12px 12px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 1.8rem;
    color: var(--bitcoin-orange);
}

.currency-table--container {
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 159px;
}

.currency-table--container .table__A {
    width: 50%;
    padding: 10px 12px;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--grey);
    text-align: left;
    background-color: var(--white);
}

.currency-table--container .table__B {
    width: 50%;
    padding: 11px 12px;
    font-weight: 400;
    font-size: 1.4rem;
    color: rgba(117,117,117,1);
    background-color: var(--white);
}

.currency-table--container .down {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: 10px;
    background-image: url('../assets/icons/arrow-trending-down.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.currency-table--container .up {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: 10px;
    background-image: url('../assets/icons/arrow-trending-up.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.currency-table--container .table__A1 {
    border-top-left-radius: 8px;
}

.currency-table--container .table__B1 {
    border-top-right-radius: 8px;
}

.currency-table--container .table__A4 {
    border-bottom-left-radius: 8px;
}

.currency-table--container .table__B4 {
    border-bottom-right-radius: 8px;
}

.main-exchange-container .main-tables-container .currency-table--date {
    margin: 0 auto;
    width: 173px;
    padding: 8px;
    border-radius: 8px;
    background-color: var(--soft-orange);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    text-align: center;
    color: var(--warm-black1);
}

.main-product-detail {
    width: 100%;
    min-width: 320px;
    padding-bottom: 31px;
    height: auto;
    background-color: var(--warm-black);
}

.main-product-detail .product-detail--batata-logo {
    position: relative;
    bottom: 11px;
    width: 40.57px;
    height: 24px;
    left: calc(50% - 20.285px);
    margin-bottom: 51px;
}

.main-product-detail .product-detail--title {
    width: 90%;
    min-width: 288px;
    margin: 0 auto 32px auto;
    text-align: center;
}

.main-product-detail .product-detail--title h2 {
    margin-bottom: 24px;
    height: 52px;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.6rem;
    color: var(--white);
}

.main-product-detail .product-detail--title p {
    height: 18px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: rgba(128,128,128,1);
}

.main-product-detail .producto-card--container {
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    height: auto;
    margin: 0 auto;
}

.main-product-detail .producto-detail--card {
    margin-bottom: 16px;
    padding: 14px 20px 22px 16px;
    border-radius: 4px;
    background-color: var(--warm-black1);
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.16);
}

.main-product-detail .producto-detail--card img {
    width: 24px;
    height: 24px;
    margin-bottom: 10px;
}

.main-product-detail .producto-detail--card h3 {
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 1.8rem;
    color: var(--white);
    margin-bottom: 10px;
}

.main-product-detail .producto-detail--card p {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: rgba(128,128,128,1);
}

.bitcoinbaby-img-container {
    padding-top: 64px;
    width: 100%;
    min-width: 320px;
    height: 323px;
    background-image: url(../assets/images/bitcoinbaby-2x.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bitcoinbaby-img-container h2 {
    margin: 0 auto;
    font-weight: 700;
    font-style: normal;
    font-size: 2.4rem;
    line-height: 2.6rem;
    text-align: center;
    color: var(--white);
}