/* 
    Para acomodar los estilos css se puede usar esta convención:
        1. Posicionamiento
        2. Modelo de caja (Box model)
        3. Texto
        4. Temas visuales
        5. Otros
*/

/*
Forma rápida de resetear los estilos base del navegador
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 
*/

:root {
    /* Colores */
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --warm-black1: #282623;
    --grey: #BABABA;
    --off-white: #FAF8F7;
    --white: #FFFFFF;
}

html {
    /* Tamaño de fuente para usar rem */
    font-size: 62.5%;
    
    /* Tipografía principal */
    font-family: 'DM Sans', sans-serif;
}

header {
    /* Posicionamiento */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    /* Modelo de caja */
    width: 100%;
    min-width: 320px;
    height: 295px;

    /* Texto */
    text-align: center;

    /* Temas visuales */
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

header .header--logo {
    /* Posicionamiento */
    margin-top: 39.03px;
    align-self: center;

    /* Modelo de caja */
    width: 128.57px;
    height: 24.01px;
}

.header--title-container {
    /* Posicionamiento */
    margin-top: 32.97px;
    align-self: center;

    /* Modelo de caja */
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;

    /* Texto */
    text-align: center;
}

.header--title-container h1{
    /* Posicionamiento */
    margin: 0;

    /* Texto */
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
    color: var(--white);
}

.header--title-container p {
    /* Posicionamiento */
    margin-top: 24px;
    margin-bottom: 0;

    /* Texto */
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}

.header--title-container button {
    /* Posicionamiento */
    position: relative;
    top: 32px;

    /* Modelo de caja */
    padding: 12px 16px 12px 16px;
    width: 229px;
    height: 48px;

    /* Texto */
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--warm-black);

    /* Temas visuales */
    border: none;
    border-radius: 4px;
    background-color: var(--off-white);
        /* Sombra */
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
}

.header--title-container span {
    /* Posicionamiento */
    display: inline-block;
    margin-left: 14px;

    /* Modelo de caja */
    width: 1.2rem;
    height: 0.741rem;

    /* Temas visuales */
    background-image: url('../assets/icons/arrow-down.svg');
}

main {
    width: 100%;
    height: auto;
    background-color: var(--off-white);
}

.main-exchange-container {
    width: 100%;
    height: auto;
    padding-top: 59px;
    padding-bottom: 64px;
    text-align: center;
}

.main-exchange-container img {
    width: 195px;
    margin-bottom: 40px;
}

.main-exchange-container--title {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto 4.8rem auto;
}

.main-exchange-container--title h2 {
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.6rem;
    color: var(--warm-black);
    margin-top: 0;
    margin-bottom: 24px;
}

.main-exchange-container--title p {
    margin: 0;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: rgba(117, 117, 117, 1);
}